
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<div class="register-body">
</div>*@
<div class="Form-Box">
    <form action="#">
        <input type="text" placeholder="Firstname" />
    </form>

</div>







